@import '../../../sass/_variables.scss';

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	>button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}
	@media (max-width: $mobile) {
		font-size: 26px;
	}
}